{# modal idnex: modal_id, modal_title__butConfirm, modal_body, link, link_view #}
<!-- Modal => Edit/Detele/Add -->
<div class="modal fade" id="{{ modal_id }}" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" >{{ modal_title__butConfirm }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" >
            <!-- Body Content -->
            {{ modal_body }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger confirm" onclick="add_edit_delete('{{ link }}', '{{ link_view }}', 'add')">{{ modal_title__butConfirm }}</button>
        </div>
      </div>
    </div>
</div>