{% extends "layout.html" %}

{% block title %}
    schedules
{% endblock %}


{% block main %}

    <div class="text-center text-capitalize mb-4">
        <h3>schedules</h3>
    </div>   
    <!-- Control View  -->
    <div>
        <select id="schedules_select" class="form-select form-control">
            <option selected disabled>Select Group</option>
            {% for value in values %}
                <option value="{{ value[0] }}">{{ value[1] }}</option>
            {% endfor %}
        </select>
    </div>



    <!--  Table Viwe -->
    <div class="text-center mt-5" id="view">
 
    
        <table class="table table-hover table-striped">
            
        </table>
    </div>

{% endblock %}