{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}
  

{% block main %}
    {% if request.method == "GET" %}
        <form action="/quote" method="POST">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="symbol" type="text" required>
            </div>
            
            <button class="btn btn-primary" type="submit">Search</button>    
        </form>
    {% else %}

        <p> Price  {{ name }} ({{ symbol }}) costs {{ price }}. </p>

    {% endif %}
{% endblock %}


