{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
    <table class="table table-hover table-striped">
        <thead class="text-capitalize table-secondary">
            <tr>
                <th scope="col">title</th>
                <th scope="col">symbol</th>
                <th scope="col">name</th>
                <th scope="col"></th>
                <th scope="col">shares</th>
                <th scope="col">price</th>
                <th scope="col">total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" colspan="6">Cash</th>
                <td>{{ cash|usd }}</td>
            </tr>
            {% if rows != None %}
                {% for row in rows %}
                <tr>
                    <th scope="row"> Stocks </th>
                    <th>{{ row["symbol"] }}</th>
                    <td>{{ row["name"] }}</td>
                    <td class="d-grid gap-2 d-md-flex justify-content-md">
                        <a class="btn btn-success mr-3" href="/buy?symbol={{ row['symbol'] }}" role="button">Buy More</a>
                        <a class="btn btn-danger" href="/sell?symbol={{ row['symbol'] }}&shares={{ row['shares'] }}" role="button">Sell</a>
                    </td>
                    <td>{{ row["shares"] }}</td>
                    <td>{{ row["price"]|usd }}</td>
                    <td>{{ (row["price"]  * row["shares"])|usd }}</td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>
        <tfoot>
            <tr class="table-secondary">
                <th scope="row" colspan="6"> Total </th>
                <td>{{ (total|round(2))|usd }}</td>
            </tr>

        </tfoot>
    </table>

{% endblock %}